---
layout: page
title: news!
permalink: /news/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="../css/newspage.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
</head>
<body>
    <!-- <header class="w-100 h-100">
        <div class="container-fluid h-100">
            <div class="row h-100 jumbotron jumbotron-fluid main-head">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12 h-100 w-100">
                    <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                        <div class="card text-center rounded-card card-width w-50 main-card">
                            <div class="card-body card-push-sides">
                                <img class="img-fluid" style="width: 50%"
                                    src="/assets/imgs/logos/logo-ecell_iiith-orange.png">
                                <p class="lead clr">presents</p>
                                <h1 class="display-4 clr">{{ page.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> -->


    <section class="featured-article">
        <h2>Featured Article</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Test</h5> <!-- need to figure out how to add the title here-->
                <p class="card-text">
                    Lorem ipsum aslfjnaslf aflkaslf aslfk...
                </p>
                <a href="article.html" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </section>



    <section class="recent-news row">
        <h2 class="col-12">Past issues</h2>
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-date" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-date" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-title" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-title" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-title" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>


       <!-- card template:
        <div class="issue-item col-sm-6 col-lg-4 card rounded-card card-hover-cyan">
            <div class="card-body">
                <a href="issue-155.html">6 things I learned about life</a>
                <time class="card-title" datetime="2024-03-26">MARCH 26, 2024</time>

            </div>
        </div>
        -->
    </section>

    <section class="subscribe py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2 class="text-center mb-4">Subscribe to our newsletter</h2>
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Subscribe" class="btn btn-primary mt-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>Newsletter.</p>
    </footer>
</body>


</html>